<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">-->
<!--<suite name="All Test Suite">-->
<!--    <test verbose="2" preserve-order="true" name="/home/user/IdeaProjects/Belhard_Selenium">-->
<!--        <classes>-->
<!--            <class name="Helpers.Methods"/>-->
<!--            <class name="TestLogin"/>-->
<!--        </classes>-->
<!--        <packages>-->
<!--            <package name="Pages"/>-->
<!--        </packages>-->
<!--    </test>-->
<!--</suite>-->